body { 
  margin:0;
  padding:0;
  background: url(https://i.pinimg.com/originals/82/54/88/825488f7859acb3fac46bae10607618a.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

form{
  justify-content: center;
}

.recherche{
  display: flex;
  justify-content: center;
}

.barre{
  padding-top: 12%;
}