body { 
  margin:0;
  padding:0;
  background: url(https://www.1zoom.me/big2/771/322884-Sepik.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

form{
  justify-content: center;
}

.recherche{
  display: flex;
  justify-content: center;
}

.barre{
  padding-top: 20%;
}